* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

/* Encabezado titulo Mi Perfil */
.titulo {
    font-size: 38px;
    background-color: #353534;
    text-align: center;
    border: #353534;
    color: white;
    padding: 17px;

}

.imagen {
    width: 200px;
    height: 208px;
    border-radius: 50%;
    border: 3px solid #343434;
    margin-top: 20px;
}

.nombre {
    font-size: 40px;
    margin: 10px 5px 10px 5px;
}

.parrafo {
    font-size: 17px;
    padding: 6px 60px 10px 60px;
    text-align: center;
    color: #7c7c7c;
}

/* Subtitulo Temas aprendidos */
.temas {
    font-size: 20px;
    padding: 15px 60px 15px 70px;
    color: #666361;
    font-weight: bold;
}

/* Lista de temas*/
.lista {
    font-size: 17px;
    padding: 5px 0px 60px 115px;
    text-align: left;
    color: #7c7c7c;
    font-weight: 540;
}

/* Boton de contactar */
.contactar {
    font-size: 16px;
    border-radius: 6px;
    color: white;
    background-color: #343434;
    padding: 15px 40px 15px 40px;
    font-weight: lighter;
    margin: 0px 0px 25px 0px;
}

/* Alineacion del DIV temas a la izquierda*/
.posicionizq {
    text-align: left;

}

.centro {
    text-align: center;
    width: 40%;
    border-radius: 1.4%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    margin: 25px auto;
    background-color: white;
}

.cuerpo {
    background-color: #F3F4F4;
}

.redes {
    text-align: center;
    font-weight: lighter;
    color: #343434;
}

.espacioTexto {
    font-size: 14px;
    margin: 0px 20px 0 20px;
    font-weight: lighter;

}

.tituloRedes {
    font-size: 16px;
    color: #343434;
}